.row{
    display: grid;
    grid-template-columns:auto auto auto;
    /* gap:4rem; */
    column-gap: 4rem;
    row-gap: 9rem;
}
img{
    width:100%;
}


.card {
    background-color: rgba(255, 255, 255, 0.836);
}


.card .card-heading {
    position: relative;
    top: -3rem;
    margin: auto;
    width: 75%;
    background-color: rgb(6, 10, 44);
}

.heart {
    position: relative;
    font-size: 1.5rem;
    bottom: 245px;
    right: 1.3rem;
    float: right;
    color: rgba(29, 28, 28, 0.74);
}

#heart1.like1 {
    color: red;
    transform: scale(1.2);
}

#heart2.like2 {
    color: red;
    transform: scale(1.3);
    transition: .3s;
}

#heart3.like3 {
    color: red;
    transform: scale(1.3);
    transition: .3s;

}

#heart4.like4 {
    color: red;
    transform: scale(1.3);
    transition: .3s;

}

#heart5.like5 {
    color: red;
    transform: scale(1.3);
    transition: .3s;

}

#heart6.like6 {
    color: red;
    transform: scale(1.3);
    transition: .3s;

}

.thumbs {
    position: relative;
    top: 2rem;
    left: 1rem;
    font-size: 1.5rem;
}

/* .card:hover .heart{
    color:red;
    transform: scale(1.1);
} */
img {
    height: 250px;
    width: 100%;

}

.card .card-heading h4 {
    color: white;
    padding: .75rem 0rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 550;
}

.card .first-card-title {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1.8rem 2rem 1rem;
}

.card .first-card-title p {
    font-size: 1.1rem;
    font-weight: 600;
}

.card .first-card-title i {
    margin: 0rem .5rem;
}

.card .second-card-title {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
}

.card .second-card-title p {
    font-size: 1.1rem;
    font-weight: 600;
}

.card .second-card-title i {
    margin: 0rem .5rem;
}

.card-button-div .card-button {
    width: 100%;
    padding: 1.2rem 0rem;
    background-color: rgb(233, 133, 12);
    border: 2px solid rgb(233, 133, 12);
    border-radius: 10px;
}

.card-button-div .card-button a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}




@media(max-width:968px) {
    .container{
        margin:0 2rem 2rem 2rem;
    }
    .row{
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media(max-width:540px){
    .container{
        margin:0 1rem 1rem 1rem;
    }
    .row{
        display: grid;
        grid-template-columns: auto;
    }
}